$primary-color: #00A0E2;
$primary-background-color: #333;
$secondary-background-color: #777;
$primary-text-color: $primary-background-color;
$article-main-background-color: #fff;
$footer-color: $article-main-background-color;
$main-nav-border-bottom-color: #ccc;
