@import '../../styles/colors';

.boardContainer {
  display: inline-block;
  float: left;
  padding: 2em;
}

.movesContainer {
  display: inline-block;
  padding: 2em;
  margin-right: 0;
}

.movesSlider {
  width: 100%;
}

.helpText {
  font-size: 0.9em;
  color: $secondary-background-color;
  margin: 0.5em 0;
}
