@import '../../styles/colors';

.wrapper {
  height: 100%;
}

header.main {
  background-color: $primary-color;
  height: 1.4em;
  color: $article-main-background-color;
  font-size: 2.6em;
  line-height: 1.4em;
  padding: 0 0 0 0.4em;
}

header {
  h1 {
    font-weight: normal;
    float: left;
  }
}

section.content {
  margin-left: auto;
  margin-right: auto;
  width: 994px;
  background-color: $article-main-background-color;
  min-height: 80%;
  margin-top: 50px;
  border-radius: 4px;
}

nav.main {
  border-bottom: 1px solid $main-nav-border-bottom-color;
}

nav ul li {
  display: inline-block;
  line-height: 2.2em;
  padding: 4px 1.4em 0 1.4em;
}

nav ul li a,
nav ul li a:visited {
  text-transform: uppercase;
  color: $primary-background-color;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li.activeMenuItem {
  border-bottom: 4px solid $primary-color;
}

footer {
  text-align: center;
  color: $footer-color;
  font-size: 0.8em;
  margin: 2em 0;
}

article.main {
  padding: 1em;

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }
}

.footerItems li {
  display: inline-block;
}

.footerItems li:not(:first-child):before {
  content: '-';
  margin: 0 0.5em;
}

footer a,
footer a:visited {
  color: $footer-color;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
